@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
    background-color: rgba(0, 0, 0, 0.811);
    color: azure;
    font-family: 'Times New Roman', Times, serif;
}
.visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  .MuiInput-root{
        color: aliceblue;
}